@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "MyFont";
  src: url("./asset/fonts/Pacifico-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "paytone one";
  src: url("./asset/fonts/PaytoneOne-Regular.ttf") format("truetype");
}

body {
  background-color: #f4f5f6;
}

main {
  height: 94vh;
}

a {
  color: inherit !important;
}

nav {
  background-color: #05090c;
}

footer {
  padding-top: 113px;
  background: #f5fbff;

  a {
    color: #f0542c !important;
  }

  .newsletter_form {
    position: relative;

    input {
      width: 100%;
      height: 50px;
      background: #f5fbff;
      padding-left: 20px;
      font-size: 15px;
      color: #000;
      border: none;
      border: 1px solid #e8e8e8;
      border-radius: 30px;
    }

    button {
      position: absolute;
      height: 40px;
      border: none;
      color: #fff;
      background: #f0542c;
      padding: 10px;
      cursor: pointer;
      border-radius: 30px;
      top: 5px;
      right: 5px;
      font-size: 16px;
      font-weight: 600;
    }
  }

  .footer-top {
    margin-bottom: 100px;
  }

  .socail_links {
    margin-top: 95px;
    margin-bottom: 50px;

    ul {
      display: flex;
      list-style: none;
      text-align: center;
      max-width: 60%;
      margin: 0 auto;
      padding-left: 0;
    }

    ul li a {
      font-size: 18px;
      color: #f0542c;
      width: 50px;
      height: 50px;
      display: inline-block;
      text-align: center;
      background: transparent;
      border-radius: 50%;
      margin-right: 10px;
      line-height: 50px !important;
      border: 1px dashed #f0542c;
    }

    .fa {
      color: #f0542c;
    }
  }
}

.navbar-brand {
  color: #f2c64d !important;
}

.navbar {
  max-width: 1440px;
  margin: 0 auto;
}

.home {
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(https://s1.1zoom.me/b5353/683/Fast_food_Hamburger_Vegetables_Bottle_530823_3840x2160.jpg);
  position: relative;
}

.page-header {
  font-family: "MyFont", cursive;
  color: #f2c64d;
  position: relative;
  margin-top: 30px;
}

.slider_text {
  h3 {
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 100px;
    margin-bottom: 27px;
    color: #fff;
    font-family: "paytone one", sans-serif;
  }

  h4 {
    font-size: 140px;
    font-family: "MyFont", cursive;
    color: #f2c64d;
    position: relative;
    margin-top: -80px;
  }
}

.deal_text {
  background-image: url(https://preview.colorlib.com/theme/burger/img/shape/1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  padding: 18px 42px;

  span {
    font-size: 20px;
    font-family: "paytone one", sans-serif;
    font-weight: 800;
    color: #fff;
  }
}

.card-title {
  display: flex;
  justify-content: space-between;
}

#home {
  font-family: "Myfont", Helvetica, sans-serif;
  font-size: 2em;
}

.navbar-nav {
  margin: auto;
  font-size: 16px;
  font-weight: 600;
}

.active {
  color: #f2c64d !important;
}

.textspan {
  height: 400px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
